{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["jest"],
  "extends": ["eslint:recommended"],
  "rules": {
    "arrow-body-style": [2, "as-needed"],
    "comma-dangle": [2, "always-multiline"],
    "no-console": 0,
    "no-unused-vars": 2,
    "no-use-before-define": 0,
    "prefer-template": 2
  }
}
